<div #base class="container">
    <div class="row">
        <aside class="col-lg-3 col-8" *ngIf="visible || elemento.nativeElement.offsetWidth > 900">
            <img src="../assets/yo.webp" alt="">
            <h1>Antonio González</h1>
            <h5>Desarrollador en ciernes</h5>
            <p class="me-2">
                Soy un amante de la programación residente en España que disfruta aprendiendo nuevas tecnologías con un
                gusto por lo estético y detallista.
            </p>
            <h3 class="my-2">Detalles personales</h3>
            <ul>
                <li>
                    <p class="h-ps mb-2" matTooltip="Mis proyectos a juicio">
                        <a href="https://yosiftware.es/" target="_blank" class="d-flex align-items-center text-black">
                            <mat-icon class="me-2">web</mat-icon>Yosiftware.es
                        </a>
                    </p>
                </li>
                <li>
                    <p class="h-ps d-flex align-items-center mb-2">
                        <mat-icon class="me-2">email</mat-icon>Agoncor@outlook.es
                    </p>
                </li>
                <li>
                    <p class="h-ps d-flex align-items-center mb-2">
                        <mat-icon class="me-2">phone</mat-icon>+34 666 151 302
                    </p>
                </li>
                <li>
                    <p class="h-ps d-flex align-items-center mb-2">
                        <mat-icon class="me-2">map</mat-icon>Tenerife, España
                    </p>
                </li>
            </ul>
            <h3 class="my-2">Mis redes</h3>
            <ul>
                <li class="h-ps mb-2">
                    <i class="fa-brands fa-linkedin me-2"></i>
                    <a href="https://www.linkedin.com/in/AntonioJGonzález" target="_blank"
                        class="d-inline-flex align-items-center">Antonio González
                    </a>
                </li>
                <li class="h-ps mb-2">
                    <i class="fa-brands fa-github me-2"></i>
                    <a href="https://github.com/yosi90" target="_blank" class="d-inline-flex align-items-center">Yosi90
                    </a>
                </li>
                <li class="h-ps mb-2">
                    <i class="fa-brands fa-trello me-2"></i>
                    <a href="https://trello.com/w/yosiftware" target="_blank"
                        class="d-inline-flex align-items-center">Mis tableros
                    </a>
                </li>
            </ul>
            <h3 class="my-2">Lenguajes</h3>
            <ul>
                <li class="h-ps mb-2">
                    Español (nativo)
                </li>
                <li class="h-ps mb-2">
                    Inglés escrito (Avanzado)
                </li>
                <li class="h-ps mb-2">
                    Inglés oral (Intermedio)
                </li>
            </ul>
            <h3 class="my-2">Skills</h3>
            <mat-chip-set class="m-1">
                <mat-chip *ngFor="let s of skills">
                    {{s}}
                </mat-chip>
            </mat-chip-set>
        </aside>
        <main class="col-lg-9 col-12 ps-3" *ngIf="!visible || elemento.nativeElement.offsetWidth > 900">
            <h2>Experiencia</h2>
            <div *ngFor="let e of experiencias; let i = index" [style.z-index]="20 - i">
                <p class="fecha">{{e.duracion}} entre {{e.ano}}</p>
                <p>{{e.empresa}}</p>
                <p class="tipo">{{e.tipo}}</p>
                <h3>{{e.cargo}}</h3>
                <p class="mt-4">{{e.desc}}</p>
                <mat-chip-set class="m-1 mt-3">
                    <mat-chip *ngFor="let s of e.tecnologias">
                        {{s}}
                    </mat-chip>
                </mat-chip-set>
            </div>
            <h2 class="mt-5">Educación</h2>
            <div *ngFor="let e of formacion; let i = index" [style.z-index]="20 - i">
                <p class="fecha">{{e.duracion}} {{e.union}} {{e.ano}}</p>
                <p>{{e.centro}}</p>
                <p class="tipo">{{e.tipo}}</p>
                <h3>{{e.titulo}}</h3>
                <p *ngIf="e.nivel">Nivel: {{e.nivel}}</p>
                <mat-chip-set class="m-1 mt-3">
                    <mat-chip *ngFor="let s of e.tecnologias">
                        {{s}}
                    </mat-chip>
                </mat-chip-set>
            </div>
            <h2 class="mt-5">Proyectos</h2>
            <div *ngFor="let p of proyectos; let i = index" [style.z-index]="20 - i">
                <p class="fecha">{{p.ano}}</p>
                <h3>{{p.nombre}}</h3>
                <a href="https://{{p.url}}/" target="_blank">{{p.url}}</a>
                <p class="py-3">{{p.desc}}</p>
                <ul class="mb-4">
                    <li *ngFor="let d of p.detalles">
                        {{d}}
                    </li>
                </ul>
                <mat-chip-set class="m-1 mt-3">
                    <mat-chip *ngFor="let s of p.tecnologias">
                        {{s}}
                    </mat-chip>
                </mat-chip-set>
            </div>
            <h2 class="mt-5">Experiencia en sistemas</h2>
            <div *ngFor="let e of experienciasS; let i = index" [style.z-index]="20 - i">
                <p class="fecha">{{e.duracion}} entre {{e.ano}}</p>
                <p>{{e.empresa}}</p>
                <p class="tipo">{{e.tipo}}</p>
                <h3>{{e.cargo}}</h3>
                <ul class="mt-3 mb-4">
                    <li *ngFor="let d of e.desc">
                        {{d}}
                    </li>
                </ul>
                <mat-chip-set class="m-1 mt-3">
                    <mat-chip *ngFor="let s of e.tecnologias">
                        {{s}}
                    </mat-chip>
                </mat-chip-set>
            </div>
        </main>
        <button id="abrir" mat-raised-button (click)="toggle()">
            <mat-icon>360</mat-icon>
        </button>
    </div>
</div>